<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>


    <div class="container">

        <div class="f-wrap m-2 bg-danger p-4 rounded">

            <form method="post" action="/updateDoc" enctype="multipart/form-data" class="text-center">

                <input type="hidden" name="id" value="<%= EditData.id %>"><br/><br/>
                <input type="text" name="user" value="<%= EditData.user %>" placeholder="User Name"><br/><br/>
                <input type="number" name="number" value="<%= EditData.number %>" placeholder="Number"><br/><br/>
                <input type="text" name="email" value="<%= EditData.email %>" placeholder="E-Mail"><br/><br/>
                <input type="file" name="fileupload">
                <button type="submit" class="rounded px-2 py-1 bg-success text-white border">Update</button>

            </form>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>